fastapi==0.115.12
uvicorn[standard]==0.34.0
gunicorn==23.0.0
SQLAlchemy==2.0.40
psycopg[binary]==3.2.6
alembic==1.15.2
pydantic-settings==2.8.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
boto3==1.37.34
celery==5.5.0
redis==5.2.1
qrcode[pil]==8.0
httpx==0.28.1
